{% extends 'base.html.twig' %}

{% block title %}Ma page - {{ parent() }}{% endblock %}

{% block body %}

    {% block h1 %}<h1>{% trans %}Bienvenue sur le blog !{% endtrans %}</h1>{% endblock %}

        {% block menu %}
            <menu>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link active" href="{{ path('app_blog_add') }}" >{% trans %}Ajouter un article{% endtrans %}</a>
                </li>
                {{ parent() }}
            </ul>
            </menu>
        {% endblock %}
        {% block content %}
            <a>{% trans %} une phrase d’accroche de notre blog qui sera toujours affichée au sein du blog {% endtrans %}</a>
            <br>
            {% block content_blog %} {% endblock %}
        {% endblock %}

{% endblock %}