{% extends 'base.html.twig' %}

{% block title %}Ma page - {{ parent() }}{% endblock %}

{% block body %}

    {% block h1 %}<h1>{% trans %}Bienvenue sur le blog !{% endtrans %}</h1>{% endblock %}

        {% block menu %}
            <menu>
                {{ parent() }}
                <li><a  href="{{ path('app_blog_add') }}" >{% trans %}Ajouter un article{% endtrans %}</a></li>
            </menu>
        {% endblock %}
        {% block content %}

            {% block content_blog %} {% endblock %}
            <a>{% trans %} une phrase d’accroche de notre blog qui sera toujours affichée au sein du blog {% endtrans %}</a>
        {% endblock %}

{% endblock %}