<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Par default{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block h1 %}<h1>Mon site default</h1>{% endblock %}

        {% block menu %}
                <li><a href="https://www.google.com">lien 1 </a></li>
                <li><a href="https://www.google.com">lien 2 </a></li>
        {% endblock %}

        {% block content %}
            <a>blablablablablablablablablablablablablabla</a>
        {% endblock %}

        {{ render(controller(
            'App\\Controller\\BlogController::leftMenu'
        )) }}

    </body>
</html>